.header {
    display: flex;
    background-color: darkblue;
    font-family: 'courier new';
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: -8px;
    margin-bottom: 8px;
}

.logo {
    color: white;
    font-size: xx-large;
    font-weight: 800;
    padding: 15px;
}

.header-links {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.header-links a {
    color: white;
    text-decoration-line: none;
}

.hero {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: darkblue;
    height: 300px;
    margin: -8px;
    padding: 50px;
}

.hero-text {
    color: white;
}

.hero h3 {
    margin-bottom: -10px;
}

.hero-sign-up {
    display: flex;
    background-color: blue;
    text-decoration: none;
    justify-content: center;
    border: 2px solid white;
    border-radius: 8px;
    width: 90px;
    padding: 5px;
}

.hero-sign-up a {
    text-decoration-line: none;
    color: white;
}

.hero-image {
    height: auto;
    width: 400px;
    border: 5px solid white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 500px;
}

.top-products {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.product-image {
    height: auto;
    max-height: 250px;
    width: 180px;
    border: 3px solid blue;
    border-radius: 8px;
    padding: 10px;
}

.product1 p,
.product2 p,
.product3 p,
.product4 p {
    text-align: center;
    width: 260px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 300px;
    align-items: center;
    margin: 0 -8px;
}

.testimonial .review {
    margin-top: 20px;
}